In [1]:
import pandas as pd
import xml.etree.ElementTree as et 
import csv
import numpy as np

## IGNORE THIS

In [ ]:
def conv_csv(xml_file): 
    fields = ["articletitle", "body", "subject"]
     

    art_title = []
    abs_title = []
    bod_arr = []
    sub_arr = []

    xmlParse = et.parse(xml_file)
    root = xmlParse.getroot()
    

    for elem in root.iter():
        if elem.tag == "article-title": 
            art_title.append(elem.text) 
        
        elif elem.tag == "p": 
            bod_arr.append(elem.text) 
        
        elif elem.tag == "abstract": 
            abs_title.append(elem.text)
        
        elif elem.tag == "subject": 
            sub_arr.append(elem.text)
    
    
    return art_title, bod_arr, abs_title, sub_arr

In [ ]:
conv_csv("article.xml")

Convert all the XML file in the directory

In [ ]:
import os 
directory = r"C:\Users\User\Desktop\FIT3164\allofplos_xml"

for filename in os.listdir(directory): 
    if filename.endswith(".xml"): 
        conv_csv(filename)
    
    else: 
        continue

## ALTERNATIVE APPROACH TO CONVERT XML TO DATAFRAME

In [12]:
def convert_xml_to_df(xml_file): 
    text = []
    tag = []
    
    xmlParse = et.parse(xml_file)
    root = xmlParse.getroot()

    for child in root.iter(): 
        text.append(child.text)
        tag.append(child.tag)

    df = pd.DataFrame({
        "tag" : tag,
        "text" : text
    })
    
    return df

In [13]:
convert_xml_to_df("article.xml")

               tag                   text
0          article                   \n
1            front                 \n
2     journal-meta                   None
3       journal-id                   plos
4       journal-id                   pbio
...            ...                    ...
2354             p  serine repeat antigen
2355      def-item           \n
2356          term                    TCA
2357           def         \n
2358             p    tricarboxylic acid.

[2359 rows x 2 columns]